#map {
    border-radius: 30px;
    position: relative;
}
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background-color: rgba(0, 0, 0, 0.8);}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: black;border-radius: 0px 0px 10px 10px ;border-bottom: 1px dashed #ddd;font-size: 18px;font-weight: bold;display: flex; align-items: center;}
.info .close {position: absolute;top: 8px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden; }
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: white;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px; background: url('https://butter-s3-bucket.s3.ap-northeast-2.amazonaws.com/down.png');}
.info .link {color: #5085BB;}

:root {
    --fc-border-color: var(--darkgray);
    --fc-daygrid-event-dot-width: 5px;
  }

  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
   
  }

  .fc .fc-col-header-cell-cushion { /* needs to be same precedence */

    padding-top: 5px; /* an override! */
    padding-bottom: 5px; /* an override! */
  }



#scroll-area3::-webkit-scrollbar {
  display: none;
}